<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317991843833-8lnm1t1ejsd7elsbnb3b4nvcfgm1uoof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317991843833-8lnm1t1ejsd7elsbnb3b4nvcfgm1uoof</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>317991843833-07gucq8174jsj7nesjk66luptjkl7ump.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_HyTAM8t-PphGGjMorY4nRvl-biT2WR4</string>
	<key>GCM_SENDER_ID</key>
	<string>317991843833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shoplocaldigital.mainstreet</string>
	<key>PROJECT_ID</key>
	<string>mainstreetdigital-enduser</string>
	<key>STORAGE_BUCKET</key>
	<string>mainstreetdigital-enduser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317991843833:ios:7f4a82ce6090c7bb3d6f28</string>
	<key>DATABASE_URL</key>
	<string>https://mainstreetdigital-enduser-default-rtdb.firebaseio.com</string>
</dict>
</plist>